
.size{
    width:300px;
   
}

.register{
   width: 100%;
    background-color: black;
    color: white;
    border-radius:5px;
    padding:0;
    margin-top: 10px;
    box-sizing: border-box;
}
.head{
    margin: 0;
}
.params{
    margin:0;
}
  

.input{
    width: 96%;
    outline: none;
  
}
.img{
    width: 500px;
    height: 500px;
}
.all{
    display: flex;
}
.fm{
    border: 1px solid black;
    padding-left: 10px;

}
